[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = ">=2.8.0,<=3.10.1"
tox = "*"
detox = "*"

[packages]
blogger = {editable = true,path = "."}
click = "==7.*"
colorama = "==0.*"
gTTS = "==2.0.*"
beautifulsoup4 = "==4.*"
html2text = "*"
lxml = "*"
